@page "/"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


<style>

    #sidebarWrapper img {
        width: 2.5rem;
        max-height: 2.5rem;
        margin-right: 0.5rem;
    }

    #sidebarWrapper button {
        height: 4rem;
    }

    .local-content {
        /* remove the padding from ".main > div" */
        margin-left: -2rem;
        margin-right: -1.5rem;
        height: 100vh;
        padding-bottom: 3.5rem;
    }

    .local-col {
        overflow-y: auto;
        overflow-x: hidden;
        height: 100%;
    }
</style>


@if (_feedChannels == null)
{
    <SpinKitRotatingPlane/>
}
else
{
    <div class="row local-content">

        <div class="col-3 local-col bg-secondary px-0" id="sidebarWrapper">

            <div class="d-flex" style="background: #283e4a;">
                <div class="text-center py-4 flex-fill" >
                    <div class="text-white lead">Feed channels</div>
                </div>

                <button type="button"
                        class="text-white btn border border-white shadow-none" data-toggle="tooltip" 
                        data-placement="bottom" title="Add a new channel"
                        @onclick="@AddNewChannel">
                    <span class="oi oi-plus"/>
                </button>
            </div>

            <div class="list-group" id="sidebar-wrapper">
                @foreach (var feedChannel in _feedChannels)
                {
                    <button type="button"
                            class="list-group-item list-group-item-action bg-secondary text-white btn shadow-none"
                            @onclick="@(e => ChannelSelected(e, feedChannel))">
                        <span>
                            <img class="img-fluid" src="@feedChannel.ImageUrl" />
                        </span>
                        @feedChannel.Title
                    </button>
                }
            </div>

        </div>
        <div class="col-9 local-col">
            <div class="row flex-shrink-0 sticky-top">
                @if (_selectedFeedChannel != null)
                {
                <div class="d-flex w-100">
                    <div class="flex-fill">
                        <div class="jumbotron text-center w-100" style="padding-top: 1.5rem; padding-bottom: 1.5rem">
                            <h2>@_selectedFeedChannel.Title</h2>
                        </div>
                    </div>

                    <button type="button" style="background: #e9ecef; margin-bottom:2rem"
                            class="btn border border-dark shadow-none" data-toggle="tooltip"
                            data-placement="bottom" title="Remove the channel"
                            @onclick="@RemoveChannel">
                        <span class="oi oi-minus" />
                    </button>

                </div>
                }
            </div>
            <div class="row flex-grow-1">
                <div class="col mh-100 py-2">

                    @if (_selectedFeedChannel != null)
                    {
                        foreach (var feedItem in _selectedFeedChannel.FeedItems)
                        {
                            <a href="" class="btn btn-light btn-block text-left p-0" role="button"
                               @onclick="@(e => ItemSelected(e, feedItem))">
                                <div class="card flex-row" style="background: #dedfd6;">
                                    <div class="card-header border-0" style="flex: 0 0 140px">
                                        <img class="img-fluid" style="width:100px; max-height:100px"
                                             src="@feedItem.ImageUrl">
                                    </div>
                                    <div class="card-body px-2">
                                        <h4 class="card-title">@feedItem.Title</h4>
                                        <p class="card-text">@feedItem.Description</p>
                                    </div>
                                </div>
                            </a>
                        }
                    }


                </div>
            </div>
        </div>
    </div>
}

